* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.6;
  color: #0f0f0f;
  font-family: Arial;
}

html, body {
  background: #fff;
  overflow-y: auto;
}

main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

h1 {
  font-size: 34px;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ddccdd;
}

th, td {
  border-right: 1px solid #ddccdd;
  border-bottom: 1px solid #ddccdd;
  border-left: none;
  padding: 0px 4px;
}

th:first-child, td:first-child {
  border-left: 1px solid #ddccdd;
}

button {
  height: 78px;
  width: 140px;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
  background: #fff;
  border: 1px solid #ddccdd;
  border-radius: 4px;
  padding: 0px 2px;
  font-size: 12px;
}